.products{
    width: 100%;

}


.card_product{
    width: 200px;
    height: 340px;
    background-color: red;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
   
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.5) 
}


.card_image >img{
    width: 180px;
    height: 200px;
}